## 4. Some basic yet important attributes of Pandas Series
These are some of the most commonly used attributes while working with series object. There are lot more, but it is not possible to cover all of them. Just in case you get confuse between attributes and methods, remember that methods have **()** at the end but attributes don't.

You can find all Series attributes [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html). Note that few of them are deprecated.

In [16]:
import pandas as pd

android_version_names = ['astro', 'boxer', 'cupcake', 'doughnut', 'éclair', 'froyo',
                         'gingerbread', 'honeycomb', 'icecream sandwich', 'jellybean',
                         'kitkat', 'lollipop', 'marshmallow', 'nougat', 'oreo', 'pie']

android_versions = [1.0, 1.1, 1.5, 1.6, 2.0, 2.2, 2.3, 3.0, 4.0, 4.1, 4.4, 5.0, 6.0, 7.0, 8.0, 9.0]

android = pd.Series(data=android_version_names, index=android_versions, name='Android Versions') 
# You can assign series object to a variable.

android

1.0                astro
1.1                boxer
1.5              cupcake
1.6             doughnut
2.0               éclair
2.2                froyo
2.3          gingerbread
3.0            honeycomb
4.0    icecream sandwich
4.1            jellybean
4.4               kitkat
5.0             lollipop
6.0          marshmallow
7.0               nougat
8.0                 oreo
9.0                  pie
Name: Android Versions, dtype: object

### Name attribute
Returns name/header of the Series.

In [18]:
android.name

'Android Versions'

#### Note:
You can change the name/header by overwritting it.

In [20]:
android.name = 'Versions name for Android OS'

android

1.0                astro
1.1                boxer
1.5              cupcake
1.6             doughnut
2.0               éclair
2.2                froyo
2.3          gingerbread
3.0            honeycomb
4.0    icecream sandwich
4.1            jellybean
4.4               kitkat
5.0             lollipop
6.0          marshmallow
7.0               nougat
8.0                 oreo
9.0                  pie
Name: Versions name for Android OS, dtype: object

### Index attribute
Returns list of index in the Series. Index is name of the row.
#### Note:
If the index is integer, then it will return **RangeIndex** object and if the anything besides integer it will return respective **Index** object.

In [21]:
android.index # Index not an integer

Float64Index([1.0, 1.1, 1.5, 1.6, 2.0, 2.2, 2.3, 3.0, 4.0, 4.1, 4.4, 5.0, 6.0,
              7.0, 8.0, 9.0],
             dtype='float64')

In [22]:
android = pd.Series(data=android_version_names)

android

0                 astro
1                 boxer
2               cupcake
3              doughnut
4                éclair
5                 froyo
6           gingerbread
7             honeycomb
8     icecream sandwich
9             jellybean
10               kitkat
11             lollipop
12          marshmallow
13               nougat
14                 oreo
15                  pie
dtype: object

In [23]:
android.index

RangeIndex(start=0, stop=16, step=1)

### Values attribute
Returns list of all values in the Series.

In [17]:
android.values

array(['astro', 'boxer', 'cupcake', 'doughnut', 'éclair', 'froyo',
       'gingerbread', 'honeycomb', 'icecream sandwich', 'jellybean',
       'kitkat', 'lollipop', 'marshmallow', 'nougat', 'oreo', 'pie'],
      dtype=object)

### Dtype attribute
Returns the datatype of the pandas series.

In [24]:
android.dtype # O = object (string)

dtype('O')

### Is_Unique attribute
Returns boolean values. If the series has all unique values i.e no duplicates, it returns **True**.

In [25]:
android.is_unique

True

### NDim attribute
Returns the number of dimension, in this case just 1 as series is 1D object.

In [33]:
android.ndim

1

### Shape attributes
Returns a tuple of number of rows and number of columns. This is like (m, n) from matrices, where **m** is the number of rows and **n** is the number of columns. 

As you can see it returns the tuple but it just returns the number of rows but leaves column section blank. Since a series has just a single column Pandas assumes the column value to be 1 but doesn't renders it and leaves it blank.

In [37]:
android.shape

(16,)

### Size attribute
Returns the total number of elements in the underlying data. Similar to (m x n) operation.

In [38]:
android.size # 16 x 1 = 16

16

### How to access value/s from the Series using attributes
Unlike other attributes these take input in square brackets **[]**. These attributes treat a pandas series list a traditional python list.

In [78]:
android_version_names = ['astro', 'boxer', 'cupcake', 'doughnut', 'éclair', 'froyo',
                         'gingerbread', 'honeycomb', 'icecream sandwich', 'jellybean',
                         'kitkat', 'lollipop', 'marshmallow', 'nougat', 'oreo', 'pie']

android_versions = [1.0, 1.1, 1.5, 1.6, 2.0, 2.2, 2.3, 3.0, 4.0, 4.1, 4.4, 5.0, 6.0, 7.0, 8.0, 9.0]

android = pd.Series(data=android_version_names, index=android_versions, name='Android Versions') 

android

1.0                astro
1.1                boxer
1.5              cupcake
1.6             doughnut
2.0               éclair
2.2                froyo
2.3          gingerbread
3.0            honeycomb
4.0    icecream sandwich
4.1            jellybean
4.4               kitkat
5.0             lollipop
6.0          marshmallow
7.0               nougat
8.0                 oreo
9.0                  pie
Name: Android Versions, dtype: object

#### Using "at" attribute
This take the index name as its input.

In [73]:
android.at[4.4] # Returns value for that partiular index

'kitkat'

#### Using "iat" attribute
This take the index number as its input.

In [77]:
android.iat[10] # Returns the value at 11th position (Index starts from 0)

'kitkat'

#### Using "loc" attribute (locate using index name)
This takes the index name as its input similar to "at" attribute.

In [97]:
android.loc[2.2] # Returns value based on index name (Index name in this case is a float value)

'froyo'

#### Using "iloc" attribute
This takes the index number as its input similar to "iat" attribute.

In [87]:
android.iloc[5]

'froyo'

### Using "ix" attribute (locate using either index name or value)
#### But this deprecated now. But works just fine.
This can take either index name or index value as its input.

In [95]:
android.ix[1] # Returns value using index

d:\xa\cheat_sheet\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'astro'

In [96]:
android.ix[1.6] # Returns value using index name (Index name in this case is a float value)

d:\xa\cheat_sheet\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'doughnut'

## 5. Some basic yet important methods of Pandas Series
This methods are self explanatory. Lets flip the data (Mathematical operations don't work well with string values)

In [101]:
android_version_names = ['astro', 'boxer', 'cupcake', 'doughnut', 'éclair', 'froyo',
                         'gingerbread', 'honeycomb', 'icecream sandwich', 'jellybean',
                         'kitkat', 'lollipop', 'marshmallow', 'nougat', 'oreo', 'pie']

android_versions = [1.0, 1.1, 1.5, 1.6, 2.0, 2.2, 2.3, 3.0, 4.0, 4.1, 4.4, 5.0, 6.0, 7.0, 8.0, 9.0]

android = pd.Series(data=android_versions, index=android_version_names, name='Android Versions') 

android

astro                1.0
boxer                1.1
cupcake              1.5
doughnut             1.6
éclair               2.0
froyo                2.2
gingerbread          2.3
honeycomb            3.0
icecream sandwich    4.0
jellybean            4.1
kitkat               4.4
lollipop             5.0
marshmallow          6.0
nougat               7.0
oreo                 8.0
pie                  9.0
Name: Android Versions, dtype: float64

In [102]:
android.sum() # Add all values

62.2

In [103]:
android.prod() # Multiplies all values

87448831.30368003

In [106]:
android.mean() # Calculates mean (average)

3.8875

In [107]:
android.median() # Calculates median

3.5

In [108]:
android.mode() # Finds mode (mostly occurred values).

0     1.0
1     1.1
2     1.5
3     1.6
4     2.0
5     2.2
6     2.3
7     3.0
8     4.0
9     4.1
10    4.4
11    5.0
12    6.0
13    7.0
14    8.0
15    9.0
dtype: float64

## 6. Extracting Series from Pandas dataframe
Pandas dataframe is another main pandas datatype besides Series. Dataframes are 2-D object meaning multiple rows and multiple columns. If you need to display just few values from the dataframe/series object we can use **.head()** or **.tail()** method.

In [114]:
pokemon = pd.read_csv(filepath_or_buffer='csv/pokemon.csv').head()

pokemon

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

The above object is still not a Series. Note that it has 2 columns. Series should have only single column. We can check this using **type()** method.

In [115]:
type(pokemon)

pandas.core.frame.DataFrame

We can extract Series (single column) from Dataframe using **squeeze** parameter. You should specify the column name (header) that needs to be extracted using **usecols** parameters.

In [119]:
pokemon = pd.read_csv(filepath_or_buffer='csv/pokemon.csv', usecols=['Pokemon'], squeeze=True)

pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [120]:
type(pokemon)

pandas.core.series.Series

If you need to extract few rows from the series, you can use **.head()** or **.tail()** method.

In [121]:
pokemon.head() # Returns 1st 5 elements from the series/dataframe

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [122]:
pokemon.tail() # Returns last 5 elements from the series/dataframe

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

You can specify the number of rows you want pandas to display. By default head and tail methods displays 5 values.

In [123]:
pokemon.head(3) # Returns 1st 3 elements from the series/dataframe

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [124]:
pokemon.tail(3) # Returns last 3 elements from the series/dataframe

718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object